{% extends 'users/dashboard.html' %}

{% block content %}

<!-- main body -->
        <h4> Approved Items </h4>
        <div class ="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" width="40%">Item</th>
                        <th scope="col" width="40%">Date</th>
                        <th scope="col" width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--List items name and data goes here -->
                </tbody>
            </table>
        </div>
{% endblock %}
