{% extends 'index.html' %} {% block body %}

<div class="margin-top flex-display-row justify-content-space-around" xmlns="http://www.w3.org/1999/html">
	<div>
	<span id="img-div">
		<img id="listingImage" height="300px" width="300px" />
	</span>
	</div>
	<div class="col-sm-7">
	<div class="flex-display-column flex-start" style = "width:80%;">
		<b><h1 id="titleTag"></h1></b>
		<h4 id="description"></h4>
		<div class="container row mb-3">
			<div class="border bg-light rounded-left py-2 px-3 w-25">Category: </div>
			<div class="border bg-light rounded-right py-2 px-3">
				<span>
					<p id="category"></p>
				</span>
			</div>
		</div>
		<div class="container row mb-3">
			<div class="border bg-light rounded-left py-2 px-3 w-25">Price:</div>
			<div class="border bg-light rounded-right py-2 px-3">
				<span> <p id="priceTag"></p></span>
			</div>
		</div>
		<span>
			<div class="card bg-light mb-3">
				<div class="card-header" ><label for="messageContent">Contact Seller: </label></div>
				<div class="card-body">
					<textarea id="messageContent" name="message" type="text" placeholder="Write something.." style="height:200px; width: 100%"></textarea>
					<button id="submitButton" onclick="sendMessages();" type="submit" class="btn btn-primary" style="background:#ECC129; color:black;">Send</button>
				</div>
			</div>
		</span>
	</div>
	</div>
</div>

<script src="../../scripts/domCreation.js"></script>
<script src="../../scripts/detail.js"></script>
<script src="../../scripts/message.js"></script>


{% endblock %}
