{% extends 'index.html' %} {% block body %}

<div class="margin-top flex-display-row justify-content-space-around">
	<div>
	<span id="img-div">
		<img id="listingImage" height="300px" width="300px" />
	</span>
	</div>

	<div class="flex-display-column flex-start" style = "width:80%;">
		<b><h1 id="titleTag"></h1></b>
		<h4 style="overflow: auto;" id="description"></h4>
		<div style="display: inline-flex; width: 100%"><b>Category: </b><p id="category"></p></div>
		<div style="display: inline-flex; width: 100%">Price: <p id="priceTag"></p></div>
		<span>
		<button id="contact-tag" class="btn btn-warning" href="/messages">Contact Buyer</button>
		</span>
	</div>
</div>
<script src="../../scripts/domCreation.js"></script>
<script src="../../scripts/detail.js"></script>

{% endblock %}
