{% extends 'index.html' %}

{% block content %}
<h1>Inbox</h1>
<table class="messages">
    <thead>
        <tr><th>Sender</th><th>| Message</th><th>| Received</th><th>| Item</th><th>| Action</th></tr>
    </thead>
    <tr>
        <td>{{ message.sender }}</td>
        <td>{{ message.msg}}</td>
        <td>{{ message.timestamp|date:_("DATETIME_FORMAT") }}</td>
        <td>{{ message.item}}</td>
        <td><a href="{{'compose' }} ">&nbsp;reply</a></td>
    </tr>

    </tbody>
</table>
<a href="{{'index' }}">&raquo;&nbsp;back to home</a></li>
<p>No messages.</p>
{% endif %}
{% endblock %}