{% extends 'users/dashboard.html' %}

{% block content %}
<!----order sell notification cart-->
<div class="tab">
    <button class="tablinks" onclick="receivedMsg();">Inbox</button>
</div>
<div id="Inbox" class="tabcontent table-responsive">
    <p><h3>Messages Received</h3></p>
    <!-- if received_msg  -->
    <table class="table table-hover" id="message-table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Message</th>
                <th scope="col">Sender</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        <!-- for message in received_msg -->
        <tr>
            <td>
                <div>
                    <a id = "titleTag"> </a>
                </div>
            </td>

            <td>
                <div class="col-content" data-toggle="tooltip" data-placement="top" > <!-- need js for this -->
                    <a id="msg"></a>
                </div>
            </td>

            <td>Pat</td>
            <td>2019-11-05 22:32</td>
        </tr>
        </tbody>
    </table>
    <p>No received messages.(Example if there is none)</p>
</div>
<script>
    getMessages();
</script>
{% endblock %}