html {
	font-size: 10px;
}
@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

html, body {
	height: 100%;
}

body {
	margin: 0;
    padding: 0;
    border: 0;
}

/** about  style **/
#about {
	width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#about .section-intro {
	margin-bottom: 0rem;
}

/** section intro **/
.section-intro {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 3.6rem;
	position: relative;
}
.section-intro h1 {
	font-family: "poppins-semibold", serif;
	font-size: 3.6rem;
	color: #c91d1d;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}
.section-intro h2 {
	margin-top: 9rem;
	color: #070707;
	font-size: 2.5rem;
}

/** intro info **/
.intro-info {
	margin-top: 6rem;
	margin-right: -60px;
	margin-left: -60px;
}
.intro-info img {
	height: 40rem;
	width: 40rem;
	border-radius: 20%;
	margin: 2rem 2rem 2rem 2rem;
	float: left;
}
.intro-info .lead {
	text-align: justify;
	padding-left: 10rem;
	word-spacing: -2.3px;
}


/** paragraph **/
p.lead {
	font-family: "lora-regular", serif;
	font-size: 2.3rem;
	line-height: 1.8;
	color: #070707;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*
 * responsive:
 * common styles
 */
 @media only screen and (max-width:768px){
	.section-intro {
		max-width: 470px;
	}
	.section-intro h1 {
		font-size: 3rem;
	}
	.intro-info img {
		height: 30rem;
		width: 30rem;
	}
	.intro-info .lead {
		padding-left: 11rem;
	}
	p.lead {
		font-size: 1.7rem;
	}

}
@media only screen and (max-width:600px) {
	.section-intro { 
	max-width: 300px;
	}

	.section-intro h1 {
		font-size: 3rem;
	}
	.section-intro h2 {
		font-size: 2rem;
	}
	.intro-info img {
		height: 35rem;
		width: 35rem;
		float: none;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: justify;
		font-size: 1.8rem;
	}
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}
	
}
@media only screen and (max-width:400px) {

	
	.section-intro h1 {
		font-size: 2.6rem;
	}
	.section-intro h2 {
		font-size: 2.3rem;
	}
	.intro-info img {
		height: 30rem;
		width: 30rem;
		display: inline-block;
	}
	.intro-info .lead {
		padding-left: 0;
		text-align: justify;
		font-size: 3rem;
	}
	.intro-info {
		text-align: center;
		margin-top: 3rem;
	}

}


@media only screen and (max-width:1024px) {

	.intro-info .lead {
		padding-left: 0;
		text-align: justify;
	}

}

