.image-size{
    height:20%;
    margin-top: 25%;
}
.caption{
    padding-left: 15px;
}
.caption1{
    padding-left: 22px;
}

.title{
    margin-top:8%;
}
.title-latest-items{
    margin-top:-50%;
}
.latest-item-image{
    height:20%;
    width: 20%;
}
